.banner {
    background-color: tan;
    margin-top: auto;
    margin-left: 2ch;
    margin-right: 2ch;
    text-align: center;
}

.doge {
    background-color: lemonchiffon;
    border: blue;
    text-align: center;
    margin-left: 5ch;
    margin-right: 5ch;
}

.description {
    border: 0ch;
    border-color: blue;
    margin-left: 5ch;
    margin-right: 5ch;
}

