.banner {
    color:chocolate;
    background-color: chartreuse;
    margin-top: auto;
    text-align: center;
}

.doge {
    background-color: lemonchiffon;
    text-align: center;
    border: blue;
}

.comments {
    background-color: mintcream;
    border-color: darkorange;
    text-align: left;
}
