.banner {
    background-color: tan;
    margin-top: auto;
    margin-left: 2ch;
    margin-right: 2ch;
    text-align: center;
}

.doge {
    background-color: lemonchiffon;
    border: blue;
    text-align: center;
    margin-left: 5ch;
    margin-right: 5ch;
}

.description {
    border: 2ch;
    border-color: blue;
    margin-left: 5ch;
    margin-right: 5ch;
}

.likesAdd {
    width: 7ch;
    height: 4ch;
    background-color: brown;
    color: bisque;
}

.likesAdd:hover {
    background-color: burlywood;
    border-color: brown;
    box-shadow: 5px;
}

#post {
    background-color: brown;
    color: bisque;
}

#post:hover {
    background-color: burlywood;
    border-color: brown;
    box-shadow: 5px;
}

.blogTitle {
    color: bisque;
    background-color: brown;
}

.displayLikes {
    size: 5ch;
    color: brown;
}

.about-me {
    color: brown;
    background-color: tan;
}